extend layout 

block content
    include navbar
    section.todo         
        h2 To-do list
        .input
            input.input-field(type="date", id="todoDate") 

            input.input-field#todoInput(type="text", placeholder="Add a new todo")
            button.btnAdd Add
        .headerName 
            h3#todoName TO-DO 
            h3#deadline DEADLINE
            button#sortDate Sort DATE
            
        ul.scroll
            li#todoList
        div
            hr.counter
            .counter-container
                .dropdown
                        button.dropbtn Filter
                        .dropdown-content
                            a(href="#" id="all") All
                            a(href="#" id="rem") Pending
                            a(href="#" id="com") Completed
                p
                    span#todoCount 0
                    |  items total
                button#deleteAll Delete All

    script(src='/js/todos.js')
